
img.thumbnail {
    width: 100%;
    border: 2px solid red;
}
img.channel-logo {
    border-radius: 50%;
    vertical-align: top;
    width: 40px;
}




p.video-title {
    font-weight: bold;
    font-size: 18px;
    font-family: Arial;
    width: 100%;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 12px;
}
p.video-stats {
    font-family: Arial;
    font-size: 14px;
    color: #606060;
    margin-top: 0px;
    margin-bottom: 16px;
}

p.video-author {
    font-family: Arial;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 6px;
    color: #606060;
    vertical-align: text-bottom;
}
div.thumbnail-row {
    margin-bottom: 5px;
}

div.channel-logo {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
div.video-info {
    display: inline-block;
    width: 225px;
    vertical-align: text-top;
}
div.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}